<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tariff
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-justify>
  
  <h3 style="color: #FF9900">1.Rooms</h3>
  <p>Are meant for 2 people, with a sit out and attach with good view from the room.
    The tariff is Rs. 2500/- per person per day with all meals, along with complimentary package.</p>

  <h3 style="color: #FF9900">2.Cottage</h3>
  <p >These cottages are thatched roof, interior of bamboo finishing with attach.
    The tariff is Rs. 2750/- per person per day with all meals, along with complimentary package.</p>
  <h3 style="color: #FF9900">3.Villas</h3>
  <p>Are meant for 2 to 4 people, In a room there are 4 cots and some villas are with interior of wooden panel, some are
    built with eco-interlocking wall bricks.
    The tariff is Rs. 3000/- per person per day with all meals, along with complimentary package.</p>
  <h3 style="color: #FF9900">4.Tree House</h3>
  <p>A unique feeling that one can feel on the cloud because of its 3600 view, the valley surrounding view filled with
    fog one can feel on the clouds which later moves towards you into the tree house. The flashing sun rays of the dawn
    slowly chasing the fog, giving you the amazing view right up to mountains and mountains till Kudremukh peak and in
    the evening giving you the panoramic view of Sunset. A four feet girth Bonsai is the center of attraction in the
    house. All this is right from the Bed. A built-up area of 790 sq.ft. having a portico, living bed room attached with
    Bath and toilet. With a facility of electricity, lantern lights, backup by emergency lights, intercom, hammock, with
    the total privacy. It is undisturbed and just right for honeymoon and unwinding.</p>
  <h3 style="color: #FF9900">5.Sky walk Villas</h3>
  <p>Are spacious, with three sides eco–interlocking brick wall and front view side is glass wall for the scenic view.
    The specialty of the Sky walk villa is the sit out flooring is made of glass flooring about 80 feet high.
    The tariff for the sky walk villa is Rs. 3300/- per person per day with all meals, along with complimentary package.
  </p>

</ion-content>
