<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <img src="../../assets/images/deluxe_room.jpg">
  <p text-justify>The Eagle Eye Holidays Resorts Home is located deep in the lush Western Ghats. This Holiday home offers more than your average getaway with the comforts of home away from home plus the convenience and beauty of being in Mother Nature’s arms. Nature Trail Trekking and expeditions can help you discover the wonders of this Ecological Treasure House.

      We have something for every member of your family to enjoy with activities like Fishing, Camping, Swimming, Rock-climbing, Boating, Trekking, Target practicing, Bird watching, Yoga and Meditation, Ayurvedic rejuvenation and beauty treatments, having a bonfire at one of our fire pits or even just dozing the stress away.
      
      The accommodation at Eagle Eye Holidays provides uniquely homely and private ambiance.  Our in-house restaurant “All Spice” offers a choice of simple yet wholesome veg & non-veg cuisine. Our courteous & efficient staff ensures personalized service.
      
      Listed below is all the details and available facilities and activities which are a part of the Eagle Eye Holidays Resorts Home</p>
</ion-content>
