<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      News & Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 
    <h3 padding>LATEST NEWS & EVENTS</h3>
 
  <ion-card>
  <ion-card-header>
      <img src="../../assets/images/latest_news1.jpg" />
    <ion-card-title>Live Your Myth in ChikMangalur</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <img src="../../assets/images/latest_news2.jpg" />
      <ion-card-title>Hotel Eagle Eye Wedding</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <img src="../../assets/images/latest_news3.jpg" />
        <ion-card-title>Hotel Eagle Eye Family Party</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/images/latest_news4.jpg" />
          <ion-card-title>Hotel Eagle Eye Picture</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
</ion-content>