<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 
    <h3 padding>OUR AWESOME SERVICES</h3>
 
  <ion-card>
  <ion-card-header>
      <img src="../../assets/images/restaurant.jpg" />
    <ion-card-title>Restaurant</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
  <ion-grid fixed="false">
      <ion-row> 
          <ion-col align-self-start>
              <ion-button fill="clear">
                  <ion-icon name="restaurant"></ion-icon>
                  <ion-icon name="wifi"></ion-icon>
                  <ion-icon name="logo-playstation"></ion-icon>
                </ion-button>
            
          </ion-col>             
        <ion-col align-self-center> &nbsp;
        </ion-col>
        <ion-col align-self-end>
          <ion-button fill="clear" (click)="goToBookingPage()">
            <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
          </ion-button> 
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-card>
<ion-card>
    <ion-card-header>
        <img src="../../assets/images/swimming.jpg" />
      <ion-card-title>Swimming-pool</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-grid fixed="false">
        <ion-row>  
            <ion-col align-self-start>
                <ion-button fill="clear">
                    <ion-icon name="restaurant"></ion-icon>
                    <ion-icon name="wifi"></ion-icon>
                    <ion-icon name="logo-playstation"></ion-icon>
                  </ion-button>
              
            </ion-col>            
          <ion-col align-self-center> &nbsp;
          </ion-col>
          <ion-col align-self-end>
            <ion-button fill="clear" (click)="goToBookingPage()">
              <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
            </ion-button> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <img src="../../assets/images/conference.jpg" />
        <ion-card-title>Conference Room</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
      <ion-grid fixed="false">
          <ion-row>   
              <ion-col align-self-start>
                  <ion-button fill="clear">
                      <ion-icon name="restaurant"></ion-icon>
                      <ion-icon name="wifi"></ion-icon>
                      <ion-icon name="logo-playstation"></ion-icon>
                    </ion-button>
                
              </ion-col>           
            <ion-col align-self-center> &nbsp;
            </ion-col>
            <ion-col align-self-end>
              <ion-button fill="clear" (click)="goToBookingPage()">
                <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
              </ion-button> 
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/images/spa.jpg" />
          <ion-card-title>SPA</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        <ion-grid fixed="false">
            <ion-row> 
                <ion-col align-self-start>
                    <ion-button fill="clear">
                        <ion-icon name="restaurant"></ion-icon>
                        <ion-icon name="wifi"></ion-icon>
                        <ion-icon name="logo-playstation"></ion-icon>
                      </ion-button>                  
                </ion-col>             
              <ion-col align-self-center> &nbsp;
              </ion-col>
              <ion-col align-self-end>
                <ion-button fill="clear" (click)="goToBookingPage()">
                  <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
                </ion-button> 
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>
</ion-content>
