<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="color:#FF9900;">
<p>Hoscodu Estate,</p>
<p>Via – Sangameshwarpet,</p>
<p>Between Bhadra and Muthodi Wildlife Sanctuary,</p>
<p>Kadavanthi Post,</p>
<p>Chikmagalur – 577 136.</p>
<p>Karnataka, India</p>
<p>E-mail: info.eagleeyeholidays@gmail.com</p>
<h5>Mobile:</h5>
<p>+91 9341 415 588</p>
</ion-content>
