<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Testimonials
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3 style="color: #FF9900">
TESTIMONIALS
</h3>
<ion-card>
  <ion-card-header style="color: #FF9900">
      Alok Mohan, IPS – Additional Director General of Police (Administration)
  </ion-card-header>
  <ion-card-content>
      Stay in this resort was wonderful. Talking to Mr. Monis was not only an experience but an education for life. The staff is one of the best I have ever seen anywhere. The motivational level and concern for the comfort of the guests is beyond words.
  </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header style="color: #FF9900">
        PK Garg, Additional Director General of Police (CID)
    </ion-card-header>
    <ion-card-content>
        Dear Monis, your simplicity and hospitality added to the beauty and comforts of the place. I wish more such entrepreneurs add to the tourism potential of Karnataka
    </ion-card-content>
  </ion-card>
      
</ion-content>
