<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar >
    <ion-searchbar [(ngModel)]="searchQuery" (search)="onSearch($event)"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>
    
        <ion-slides loop="true" autoplay="3000" pager>
          <ion-slide *ngFor="let number of [4,2,3,1]">
            <img src="./assets/images/{{number}}.jpg" />
            <!-- <img src="../../assets/images/1.jpg"> -->
          </ion-slide>          
        </ion-slides>
     
      <img style="margin-top: 1px;" src="../../assets/images/trekkingBanner.png" />  
      <!-- <ion-row>
        <ion-col size="6">
          <ion-button (click)="dateClick()"><i class="fa fa-calendar"></i>&nbsp;Check in</ion-button>          
        </ion-col>
        <ion-col size="6" text-right>
          <ion-button (click)="dateClick()"><i class="fa fa-calendar"></i>&nbsp;Check Out</ion-button>
        </ion-col>
      </ion-row> -->
   
     
     
      <ion-card >
        <div (click)="goToRoomPage()">
        <ion-card-header>
            <img src="../../assets/images/single_room.jpg" />
          <ion-card-title>Single Room</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        
            <ion-row>
              <ion-col size="4">
                <ion-button style="text-transform: none;"  fill="clear">
                    Per Night Rs. 800/-
                </ion-button> 
              </ion-col>
              <ion-col size="4"> &nbsp;
              </ion-col>
              <ion-col size="4">
                  <ion-button fill="clear">                 
                  <ion-icon name="desktop"></ion-icon>
                  <ion-icon name="restaurant"></ion-icon>                  
              </ion-button>
              </ion-col>
            </ion-row>
         
        </div>
          <ion-button color="primary" (click)="goToBookingPage()" expand="block">Book Room</ion-button>
      </ion-card>
      <ion-card >
          <div (click)="goToRoomPage()">
          <ion-card-header>
              <img src="../../assets/images/double_room.jpg" />
            <ion-card-title>Double Room</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
          
              <ion-row>
                <ion-col size="4">
                  <ion-button style="text-transform: none;" fill="clear">
                      Per Night Rs. 1000/-
                  </ion-button> 
                </ion-col>
                <ion-col size="4"> &nbsp;
                </ion-col>
                <ion-col size="4">
                    <ion-button fill="clear">    
                        <ion-icon name="logo-rss"></ion-icon>             
                    <ion-icon name="desktop"></ion-icon>
                    <ion-icon name="restaurant"></ion-icon>                  
                </ion-button>
                </ion-col>
              </ion-row>
           
          </div>
            <ion-button color="primary" (click)="goToBookingPage()" expand="block">Book Room</ion-button>
        </ion-card>
        <ion-card >
            <div (click)="goToRoomPage()">
            <ion-card-header>
                <img src="../../assets/images/deluxe_room.jpg" />
              <ion-card-title>Deluxe Room</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
            
                <ion-row>
                  <ion-col size="6">
                      <ion-button style="text-transform: none;" fill="clear">
                        Per Night Rs. 1800/-
                      </ion-button>
                  </ion-col>
                  <ion-col size="2"> &nbsp;
                  </ion-col>
                  <ion-col size="4">
                      <ion-button fill="clear">   
                      <ion-icon name="logo-rss"></ion-icon>              
                      <ion-icon name="desktop"></ion-icon>
                      <ion-icon name="restaurant"></ion-icon>  
                      <ion-icon name="contacts"></ion-icon>                
                  </ion-button>
                  </ion-col>
                </ion-row>
             
            </div>
              <ion-button color="primary" (click)="goToBookingPage()" expand="block">Book Room</ion-button>
          </ion-card>
  <ion-card >
    <div (click)="goToServicePage()">
      <ion-card-header>
          <img src="../../assets/images/restaurant.jpg" />
        <ion-card-title>Restaurant</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </div>
      <!-- <ion-grid fixed="false">
          <ion-row>              
            <ion-col align-self-center> &nbsp;
            </ion-col>
            <ion-col align-self-end>
             
            </ion-col>
          </ion-row>
        </ion-grid> -->

    </ion-card>
    <ion-card >
        <div (click)="goToServicePage()">
        <ion-card-header>
            <img src="../../assets/images/swimming.jpg" />
          <ion-card-title>Swimming-pool</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        </div>
        <!-- <ion-grid fixed="false">
          <ion-row>
            <ion-col align-self-center> &nbsp;
            </ion-col>
            <ion-col align-self-end>
              <ion-button fill="clear" (click)="goToBookingPage()">
                <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid> -->

      </ion-card>
      <ion-card>
        <div  (click)="goToServicePage()">
          
          <ion-card-header>
              <img src="../../assets/images/conference.jpg" />
            <ion-card-title>Conference Room</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </div>
          <!-- <ion-grid fixed="false">
              <ion-row>              
                <ion-col align-self-center> &nbsp;
                </ion-col>
                <ion-col align-self-end>
                  <ion-button fill="clear" (click)="goToBookingPage()">
                    <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
                  </ion-button> 
                </ion-col>
              </ion-row>
            </ion-grid> -->

          </ion-card>
        <ion-card >
            <div (click)="goToServicePage()">
            <ion-card-header>
                <img src="../../assets/images/spa.jpg" />
              <ion-card-title>SPA</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
            </div>
            <!-- <ion-grid fixed="false">
                <ion-row>              
                  <ion-col align-self-center> &nbsp;
                  </ion-col>
                  <ion-col align-self-end>
                    <ion-button fill="clear" (click)="goToBookingPage()">
                      <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
                    </ion-button> 
                  </ion-col>
                </ion-row>
              </ion-grid> -->

            </ion-card>
  <ion-card>
      <iframe width="100%"  src="https://www.youtube.com/embed/2nGXhTR51Eo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card>  
    <ion-button color="primary" (click)="goToBrochurePage()" expand="block">Download Brochure</ion-button>   
</ion-content>
