<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rooms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 padding>OUR FAVOURITE ROOMS</h3>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/single_room.jpg" />
      <ion-card-title>Single Room</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-grid fixed="false">
      <ion-row>
        <ion-col align-self-start>
          <ion-button fill="clear">
            <ion-icon name="restaurant"></ion-icon>
            <ion-icon name="wifi"></ion-icon>
          </ion-button>&nbsp;
          <ion-button fill="clear">
            <ion-icon slot="start" name="cloudy-night"></ion-icon>
            Rs. 800
          </ion-button>
        </ion-col>
        <ion-col align-self-center> &nbsp;

        </ion-col>
        <ion-col align-self-end>
          <ion-button fill="clear" (click)="goToBookingPage()">
            <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/double_room.jpg" />
      <ion-card-title>Double Room</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-grid fixed="false">
      <ion-row>
        <ion-col align-self-start>
          <ion-button fill="clear">
          <ion-icon name="restaurant"></ion-icon>
          <ion-icon name="wifi"></ion-icon>
          </ion-button>&nbsp;
          <ion-button fill="clear">
            <ion-icon slot="start" name="cloudy-night"></ion-icon>
            Rs. 1000
          </ion-button>
        </ion-col>
        <ion-col align-self-center> &nbsp;

        </ion-col>
        <ion-col align-self-end>
          <ion-button fill="clear" (click)="goToBookingPage()">
            <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/deluxe_room.jpg" />
      <ion-card-title>Deluxe Room</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-grid fixed="false">
      <ion-row>
        <ion-col align-self-start>
          <ion-button fill="clear">
            <ion-icon name="restaurant"></ion-icon>
            <ion-icon name="wifi"></ion-icon>
          </ion-button>&nbsp;
          <ion-button fill="clear">
            <ion-icon slot="start" name="cloudy-night"></ion-icon>
            Rs. 1800
          </ion-button>
        </ion-col>
        <ion-col align-self-center> &nbsp;

        </ion-col>
        <ion-col align-self-end>
          <ion-button fill="clear" (click)="goToBookingPage()">
            <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/latest_news2.jpg" />
      <ion-card-title>Luxury Room</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-grid fixed="false">
      <ion-row>
        <ion-col align-self-start>
          <ion-button fill="clear">
            <ion-icon name="restaurant"></ion-icon>
            <ion-icon name="wifi"></ion-icon>
            <ion-icon name="logo-playstation"></ion-icon>
          </ion-button>
          &nbsp;
          <ion-button fill="clear">
            per <ion-icon slot="start" name="cloudy-night"></ion-icon>
            Rs. 3800
          </ion-button>
        </ion-col>
        <ion-col align-self-center> &nbsp;

        </ion-col>
        <ion-col align-self-end>
          <ion-button fill="clear" (click)="goToBookingPage()">
            <ion-icon name="bookmarks"></ion-icon>&nbsp;Booking
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>